---
active_nav: "members"
layout: locked
---

<div ng-if="authData">

	<section class="testimonials">
		<div class="column-row">
			<h2 class="text-center">Member Resorces</h2>
		</div>

		<div class="row align-stretch">
			<div class="column">
				<div class="card">
					<h3>Screencasts</h3>
					<img class="round" src="images/2015-redesign/circle-icon-video.svg" alt="">
					<ul class="no-bullet">
						<li><a href="">Sublime Text Tips</a></li>
						<li><a href="">Interview at Static Tech</a></li>
						<li><a href="">Static Tech Talk on Middleman</a></li>
						<li><a href="">Front-end Performance</a></li>
						<li><a href="">ZF Camp F4A Demo</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<h3>Short Courses</h3>
					<img class="round" src="images/2015-redesign/circle-icon-timer.svg" alt="">
					<ul class="no-bullet">
						<li><a href="">Foundaiton Email Course</a></li>
						<li><a href="">ZF Camp 1</a></li>
						<li><a href="">ZF Camp 2</a></li>
						<li><a href="">Front-end Workshop at CH</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row align-stretch">
			<div class="column">
				<div class="card">
					<h3>Ebooks &amp; Guides</h3>
					<img class="round" src="images/2015-redesign/circle-icon-book.svg" alt="">
					<ul class="no-bullet">
						<li><a href="">Advanced Foundation: Performance</a></li>
						<li><a href="">Ultimate Guide to Foundation 6</a></li>
						<li><a href="">Mastering ZURB Foundation</a></li>
						<li><a href="">ZURB Foundation Blueprints</a></li>
					</ul>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<h3>Quick References</h3>
					<img class="round" src="images/2015-redesign/circle-icon-doc.svg" alt="">
					<ul class="no-bullet">
						<li><a href="">ZURB Foundation 6</a></li>
						<li><a href="">Emmet</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>


</div>



