---
title: "ZURB Foundation Gun for Hire"
active_nav: services
---

<section class="hero services">
  <div class="row">
    <div class="small-12 columns">
      <h2>ZURB Foundation Gun for Hire</h2>
      <p>I build really awesome web sites using the world's most advanced front-end framework</p>
      <p> <a href="" class="button">Learn More </a> </p>

    </div>
  </div>
</section>


  <br>
  <br>
  <br>

  <div class="row">
    <div class="medium-6 columns">
      <img src="/images/services/index/emp-find@2x.png" alt="">
    </div>
    <div class="medium-6 columns">
      <h4>eMoneyPool saw a 56% lift with an expertly crafted front-end implementation using ZURB Foundation and Google Angular</h4>
      <p>eMoneyPool.com is a premier microfinance startup that uses the idea of a Tanda or MoneyPool to help its community better reach their savings goals. eMoneyPool commissioned complete revamp of their popular web app by an undisclosed agency and sought a high quality and performant front-end implementation.
      </p>
      <!-- <a href="" class="button">Read about this success story &raquo;</a> -->
    </div>
  </div>

  <br>
  <br>

  <div style="background:#FF6600;">
    <div class="row">
      <div class="small-12 columns">
        <br>
        <h2 class="text-center" style="color:#FFF;">If you have the vision &mdash; We can help bring it to life</h2>
        <h4 class="text-center" style="color:#FFF;">YES, we are accepting applications for new projects starting February 2016 or later</h4> 
        <br>
      </div>
    </div>
  </div>

  <br>
  <br>

  <h2 class="text-center">Finding a technical partner couldn't be easier</h2>
  <br>
  <div class="row">
    <div class="medium-8 columns medium-centered">
      <!-- <p>It's a crazy world out there and pretty much any one can slap a developer sticker on their website and start building websites. But are they delightful?</p> -->

      <p>James Stone Intermedia is full-time self-funded startup, just like yours. We are in it for the long game and not just out to make the quick buck. Your success is important to you and we want to help you grow.</p>

      <p>Agencies are a great solution if you have the capital, but <b>agency prices are beyond what bootstrapped business can afford</b>. Typically they expect and outlay of cash up front (usually in the neighborhood of a half of a small house in the Midwest) and come with some really specific outcomes.</p>

      <p>Freelancers can be good, but it is hard to find a good one. First you might waste a lot of time trying to identify one that can solve your problems. <b>Who knows what kind of freelancer you are going to get?</b> The web is a big leveling field and it is hard to tell who is in it full-time, part-time, only on full-moon's or every third weekends. That's if your lucky, often all you will get is the sad song of the unanswered email or quick note saying, "sorry, still too busy." Aren't we all?</p>

      <p>We prefer to be upfront and honest. That's why you will see posted at the top of this page if we are taking on new work and the time-frame.</p>

      <p><a href="#bio">Learn more about James Stone, author of ZURB Foundation Blueprints &raquo;</a></p>



    </div>
  </div>

  <br>
  <hr>
  <br>

    <div class="row">
      <div class="medium-4 columns">
        <p>
          <img src="https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/images/1c282602938ef2c6c977eb75892ada02d7d523ae/james-new-headshot-wide.jpg" alt="">
        </p>
        <ul>
          <li>Author of ZURB Foundation Blueprints</li>
          <li>Top ZURB Foundation Contributor</li>
          <li>ZURB Foundation Certified Preferred</li>
          <li>Videos + Articles viewed by over 100,000 people per year</li>
        </ul>

      </div>
      <div class="medium-5 columns">
        <h4 id="bio">James Michael Stone, MFA</h4>

        <p>James Stone is the author of ZURB Foundation Blueprints and is a top contributor to ZURB Foundation. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College.</p>
        <p>He holds an MFA in New Media and served as a University Fellow and Instructor at the School of Visual Arts at Penn State.</p>
      </div>
      <div class="medium-3 columns" style="padding-top:2.6rem;">
        <a href="https://www.packtpub.com/web-development/zurb-foundation-blueprints" style="text-decoration:underline;">ZURB Foundation Blueprints &raquo;</a> <br>
        <a href="https://www.youtube.com/user/JamesManOfStone" style="text-decoration:underline;">YouTube Channel 135k views &raquo;</a> <br>
        <a href="http://foundation.zurb.com/forum/451-james-stone" style="text-decoration:underline;">Foundation Forum &raquo;</a> <br>
        <a href="http://stackoverflow.com/users/1560583/jamesstoneco" style="text-decoration:underline;">Stack Overflow &raquo;</a> <br>
        <a href="https://www.linkedin.com/in/jamesstoneco" style="text-decoration:underline;">Linked In &raquo;</a> <br>
        <a href="https://www.quora.com/James-Stone-6" style="text-decoration:underline;">Quora &raquo;</a> <br>
      </div>
    </div>



    <br>
    <hr>
    <br>

    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Pay as you go pricing &mdash; honest, upfront and transparent</h2>
      </div>
      <div class="medium-8 columns medium-centered">
        <p>At JSI we are not in the business of ripping you off or trying to convince you of huge upfront value to justify the costs. We offer simple pricing sold in affordable blocks which can be used however you like.</p>

        <!-- <p class="text-center"><a href="" class="button">How much is it?</a></p> -->
      </div>
    </div>

