
  <section class="hero">
    <br>
    <h2 class="text-center" style="font-weight:normal;">People demand precision design, seductive ux and don't have time to think. <br>
     You have the Vision and you want ZURB Foundation.
     <strong>Let's bring it to life.</strong></h2>
    <br>
    <div class="row">
      <div class="medium-10 columns medium-centered">
        <h4 class="text-center"> James Stone Intermedia was founded to <strong>design and build world-class products for creative entrepreneurs</strong>. Those who believe they can survive with templates, themes and wordpress need not apply.</h4>
        <br>
        <br>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="medium-6 columns">
      <img src="http://aztechbeat.com/wp-content/uploads/2014/08/emoneypool-screenshot-tight-desktop.jpg" alt="">
    </div>
    <div class="medium-6 columns">
      <h4>eMoneyPool saw a 56% lift with an expertly crafted front-end implementation using ZURB Foundation and Google Angular</h4>
      <p>eMoneyPool.com is a premier microfinance startup that uses the idea of a Tanda or MoneyPool to help its community better reach their savings goals. eMoneyPool commissioned complete revamp of their popular web app by DrawBackwards and sought a high quality and performant front-end implementation.
      </p>
      <a href="" class="button">Read about this success story &raquo;</a>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h2 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit?</h2>
  <br>
  <div class="row">
    <div class="medium-8 columns medium-centered">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem molestiae sequi, voluptatibus aspernatur aliquam dolore odit atque. Iusto maxime veniam quisquam asperiores quam ea, enim esse nobis magni velit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem molestiae sequi, voluptatibus aspernatur aliquam dolore odit atque. Iusto maxime veniam quisquam asperiores quam ea, enim esse nobis magni velit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem molestiae sequi, voluptatibus aspernatur aliquam dolore odit atque. Iusto maxime veniam quisquam asperiores quam ea, enim esse nobis magni velit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum exercitationem molestiae sequi, voluptatibus aspernatur aliquam dolore odit atque. Iusto maxime veniam quisquam asperiores quam ea, enim esse nobis magni velit.</p>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="medium-4 columns testimonial">
      <div class="image-wrap text-center">
        <img src="http://www.placehold.it/300x300" alt="">
      </div>
      <p><strong>Ryan Skyler, Founder <br> Anywhere Technologies</strong></p>
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cupiditate, nemo iusto. Unde, reiciendis, nulla.&rdquo;</p>
    </div>
    <div class="medium-3 columns medium-offset-1">
    <img src="http://www.placehold.it/300x400" alt="">
      
    </div>
    <div class="medium-4 columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi veritatis impedit quos laborum, officia, esse culpa neque recusandae atque. Quo autem, eveniet animi sequi nulla sit quia atque nemo dolore.</p>
    <a href="" class="button">Download the guide now &raquo;</a>
    </div>
  </div>

  <br>
  <hr>
  <br>

    <div class="row">
    <div class="medium-8 columns">
      <h2 class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, perferendis.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui tempora voluptas obcaecati quia recusandae molestiae placeat, beatae quaerat atque. A ut cumque dicta doloremque molestias harum, molestiae, qui repellendus dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui tempora voluptas obcaecati quia recusandae molestiae placeat, beatae quaerat atque. A ut cumque dicta doloremque molestias harum, molestiae, qui repellendus dolore.</p>
      <a href="" class="button">How we've helped people like you &raquo;</a>
    </div>
    <div class="medium-4 columns testimonial">
      <div class="image-wrap text-center">
        <img src="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/images/ac4c9144af1f94baf685a88922dcbae864a95790/jill.jpg" alt="">
      </div>
      <p><strong>Jill Barletti, Author + Founder Snowflake Stories LLC</strong></p>
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cupiditate, nemo iusto. Unde, reiciendis, nulla.&rdquo;</p>
    </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="medium-4 columns">
<p>
  <img src="https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/images/1c282602938ef2c6c977eb75892ada02d7d523ae/james-new-headshot-wide.jpg" alt="">
</p>
        <ul>
      <li>Author of ZURB Foundation Blueprints</li>
      <li>Top ZURB Foundation Contributor</li>
      <li>ZURB Foundation Certified Preferred</li>
      <li>Videos + Articles viewed by over 100,000 people per year</li>
    </ul>

  </div>
  <div class="medium-5 columns">
    <h4>James Michael Stone, MFA</h4>

<p>James Stone is the author of ZURB Foundation Blueprints and is a top contributor to ZURB Foundation. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College.</p>
<p>He holds an MFA in New Media and served as a University Fellow and Instructor at the School of Visual Arts at Penn State.</p>
  </div>
  <div class="medium-3 columns" style="padding-top:2.6rem;">
    <a href="" style="text-decoration:underline;">Link to resource created &raquo;</a> <br>
    <a href="" style="text-decoration:underline;">Link to accolade &raquo;</a> <br>
    <a href="" style="text-decoration:underline;">Foundation Forum &raquo;</a> <br>
    <a href="" style="text-decoration:underline;">Stack Overflow &raquo;</a> <br>
    <a href="" style="text-decoration:underline;">Quora &raquo;</a> <br>
  </div>
</div>





<br>
<hr>
<br>

<div class="row">
  <div class="medium-8 columns medium-centered">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto vero inventore nobis.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ullam soluta eos earum quod, expedita, nulla quibusdam id exercitationem assumenda dolorum voluptatibus cumque, facilis dolorem deserunt rem praesentium. Autem voluptatibus dolore ducimus at, aspernatur unde cumque ullam, optio esse natus.</p>
    <p class="text-center"><a href="" class="button">How much is it?</a></p>
  </div>
</div>


<br>
<hr>
<br>


  <div class="row">
    <div class="medium-4 columns testimonial">
      <div class="image-wrap text-center">
        <img src="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/images/d530c2aa11bdc33c76d4d4edf4024b0cc177723e/majid.jpg" alt="">
      </div>
      <p><strong>Majid Seraj, Pharm.D. <br> Founder + CEO Nexderm Inc.</strong></p>
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cupiditate, nemo iusto. Unde, reiciendis, nulla.&rdquo;</p>
    </div>
    <div class="medium-3 columns medium-offset-1">
    <img src="http://www.placehold.it/300x400" alt="">
      
    </div>
    <div class="medium-4 columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi veritatis impedit quos laborum, officia, esse culpa neque recusandae atque. Quo autem, eveniet animi sequi nulla sit quia atque nemo dolore.</p>
    <a href="" class="button">Download the guide now &raquo;</a>
    </div>
  </div>
