/* 

font-family: 'Distill Medium'
font-family: 'Distill Bold'
font-family: 'Distill Light'
font-family: 'Distill Thin'
 */


// @import url(//fonts.googleapis.com/css?family=Oswald:700,400,300);
// @import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);
// @import url(//fonts.googleapis.com/css?family=Oswald:400);
// @import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);

$brand-dark-blue: #2F5C90 !default;

$brand-violet: #BD10E0 !default;
$brand-packt-orage: #EB8B2A !default;

// The $base-line-height is 100% while $base-font-size is 150%
$base-line-height: 120%;

// $row-width: 1000px;
// $column-gutter: 20px;
// $total-columns: 12;



$body-bg: #E5E5E5 !default;
$body-font-color: #222 !default;

// // We use these as default colors throughout
// $primary-color: #2ba6cb !default;
// $primary-color: #0287FB !default;
// $primary-color: #E41A89 !default;
$primary-color: $brand-dark-blue !default;
// $primary-color: #B51CD0 !default;
// $secondary-color: #B51CD0 !default;
$secondary-color: #eee !default;
$alert-color: $brand-violet !default;
$success-color: #5da423 !default;

// // We use these to make sure border radius matches unless we want it different.
$global-radius: 3px !default;
// // We use this to control whether or not CSS classes come through in the gem files.
$include-print-styles: false !default;

$panel-bg: scale-color($secondary-color, $lightness: 10%);
$panel-border-style: solid;
$panel-border-size: 1px;

// We use this % to control how much we darken things on hover
// $panel-function-factor: -11%;
$panel-border-color: scale-color($panel-bg, $lightness: -100%);

// We use these to set default inner padding and bottom margin
// $panel-margin-bottom: rem-calc(20);
// $panel-padding: rem-calc(20);

// We use these to set default font colors
// $panel-font-color: #333;
// $panel-font-color-alt: #fff;

$panel-header-adjust: false;
$callout-panel-link-color: $brand-violet;



$code-color: #eee;
$code-font-family: Inconsolas, Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: normal;

$body-font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-weight: 400;
$header-font-color: scale-color($brand-dark-blue, $saturation: -50%);


$button-font-weight: 400;
$button-font-family: $body-font-family;


$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;
