@import url(http://fonts.googleapis.com/css?family=Oswald:700,400,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

$body-bg: #eee !default;
$body-font-color: #222 !default;

// // We use these as default colors throughout
// $primary-color: #2ba6cb !default;
// $primary-color: #0287FB !default;
$primary-color: #E41A89 !default;
// $primary-color: #B51CD0 !default;
// $secondary-color: #B51CD0 !default;
$secondary-color: #ddd !default;
$alert-color: #E41A89 !default;
$success-color: #5da423 !default;

// // We use these to make sure border radius matches unless we want it different.
$global-radius: 6px !default;
// // We use this to control whether or not CSS classes come through in the gem files.
$include-print-styles: false !default;

$panel-bg: darken(#fff, 2.5%);
$panel-border-style: solid;
$panel-border-size: 1px;



$code-color: #eee;
$code-font-family: Inconsolas, Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: normal;

$body-font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-weight: 400;

$button-font-weight: 700;
$button-font-family: $header-font-family;


$side-nav-link-color: #fff;
$side-nav-link-color-active: darken(#000, 30%);
$side-nav-font-weight: normal;

$tabbar-bg: $primary-color !default;
$tabbar-color: $body-bg !default;
$tabbar-right-section-border: none 0px lighten($tabbar-bg, 10%) !default;
$tabbar-left-section-border: none 0px darken($tabbar-bg, 10%) !default;
$tabbar-header-color: lighten($body-bg, 10%) !default;
$tabbar-header-weight: normal !default;
$off-canvas-bg: darken($secondary-color, 80%) !default;
$menu-slide: "transform 400ms ease" !default;

// @import "foundation";

// Global Foundation Settings
// @import "settings";
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";


@import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/range-slider";
// @import "foundation/components/reveal";
// @import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
@import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";






@import "highlight-styles/solarized_dark";

// foundation icon fonts 3
@import "foundation-icons";

$paragraph-margin-bottom: emCalc(20);
$primary-color-yellow: #ffe12f;
$primary-color-magenta: #ea2b7f;
$primary-color-dark: #0e6a84;
$primary-color-cta-orange: #ff982f;

$padding-global: emCalc(20px);
$padding-global-plus: emCalc(30px);


pre {
  padding: 20px;
}

// http://stackoverflow.com/questions/15928366/foundation-4-clearing-lightbox-thumbs-not-displaying-correctly

// Clearing Docs .clearing-thumbs { list-style: none; }
.clearing-thumbs li { float: left; margin-right: 10px; max-width: 100%; }
.resume-bullets { padding-left: emCalc(40px); }

span.inline-code {
	color: $body-font-color;
	background: darken($body-bg, 20%);
	padding-left: emCalc(4px);
	padding-right: emCalc(4px);
}

pre {
  display: block; padding: 0.5em;
  background: #002b36; color: #839496;
}

// fix for paragraphs following pre blocks
pre + p {
	margin-top: $paragraph-margin-bottom;
}

// collapse margins for mobile top nav

#top {
	margin-top:0px;
	margin-bottom:0px;
}

#top > div > p {
	margin-top:0px;
	margin-bottom:0px;
}

#mos-header {
  background: $primary-color;
  // padding-top: $padding-global-plus;
}

#about-header {
  background: $primary-color-yellow;
  padding-top: $padding-global-plus;
}

#about-first-section {
  background: lighten($primary-color-dark, 20%);
  padding-top: $padding-global-plus;
}

#products-banner {
  background: $primary-color;
  padding-top: $padding-global;
  padding-bottom: $padding-global;
}

#videos-banner {
  background: darken($secondary-color, 80%);
  padding-top: $padding-global;
  padding-bottom: $padding-global;
}

// #mos-top-footer {
//   background: $primary-color;
//   padding-top: $padding-global;
// }

// #mos-footer {
//   background: darken($secondary-color, 80%);
//   padding-top: $padding-global/2;
//   padding-bottom: $padding-global/4;
// }

.alt-text {color: #eee !important; }
#mos-footer-nav {padding-top: 12px; }
#mos-footer-social-nav {padding-top: 12px; }
.social-icons {font-size: emCalc(44px); }
.social-icons a {color: darken($secondary-color, 30%); }

.cta {
  background: $success-color;
}
.cta:hover {
  background: darken($success-color, 10%);
}


nav.tab-bar:after  {
}

.content-top-spacing {
  padding-top: emCalc(30px);
}

.title a {
  color: #fff !important;
}


// disqus bloat

#dsq-comments-title h4 {
color:#333;
}
#disqus_thread {
padding:12px;
margin-bottom:-10px;
}
#disqus_thread h4 {
color:#333;
font-family: Helvetica, sans-serif;
font-size:12px;
padding-bottom:.5em;
}
#dsq-content div.dsq-options {
background:none;
padding-bottom:10px;
}
#dsq-comments li.dsq-comment {
margin-top:12px;
margin-bottom:10px;
padding:5px;
background:#FFFFFF !important;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:0px solid #ccc;
}
#dsq-content div.dsq-post-area {
padding:5px;
background:#F0F0E9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:1px solid #ccc;
-webkit-box-shadow: 0px 0px 10px #FFFFFF;
-moz-box-shadow: 0px 0px 10px #ECF40B;
}
#dsq-content .dsq-comment-header {
background:#F5F5F5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #ccc;
}
.dsq-brlink {
display:none;
}
#dsq-content .dsq-comment-message {
background:#EDEDED;
padding:5px;
margin-left: 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#dsq-content #dsq-authenticate .dsq-login-buttons {
background:none;
background-image:none;
margin-bottom:0;
}
#dsq-content #dsq-form-area .dsq-textarea .dsq-textarea-wrapper,
#dsq-content #dsq-form-area .dsq-post-fields .dsq-input-wrapper {
border: 1px solid #ccc;
}
#dsq-new-post div.dsq-request-user-info {
background:none;
padding-bottom:0px;
}

.f4callout {
  background: $primary-color;
}

// socialite below

.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }
/*
 * Socialite Look-a-like defaults
 */

.social-buttons { display: block; list-style: none; padding: 0; margin: 20px; }
.social-buttons > li { display: block; margin: 0; padding: 10px; float: left; }
.social-buttons .socialite { display: block; position: relative; background: url('/javascripts/vendor/socialite/demo/images/social-sprite.png') 0 0 no-repeat; }
.social-buttons .socialite-loaded { background: none !important; }

.social-buttons .twitter-share { width: 55px; height: 65px; background-position: 0 0; }
.social-buttons .googleplus-one { width: 50px; height: 65px; background-position: -75px 0; }
.social-buttons .facebook-like { width: 50px; height: 65px; background-position: -145px 0; }
.social-buttons .linkedin-share { width: 60px; height: 65px; background-position: -215px 0; }

.dvorak-fixed-height {
  height:emCalc(450px);
}




// 5.2 bugfix

html { background: $body-bg;}


.social-buttons {
  position: relative;
  overflow: visible;
  float: left;
  left: 47%;
}

.social-buttons > li {
  position: relative;
  right: 53%;
}

.home-header {
// -webkit-background-clip: border-box;
// -webkit-background-origin: padding-box;
// -webkit-background-size: auto;
// -webkit-font-smoothing: antialiased;
// background-attachment: scroll;
// background-clip: border-box;

// // background-color: rgb(255, 255, 255);
// // background:url(http://zurb.com/assets/zurb/background/home-1-2e77f1a031d18b909c9743e7edff447c.jpg) no-repeat center center #fff;

// background-origin: padding-box;
// // background-size: auto;
// box-sizing: border-box;
// display: block;

// height: 400px;
// // width: 1250px;

// margin-bottom: 0px;
// margin-left: 0px;
// margin-right: 0px;
// margin-top: 0px;
// padding-bottom: 0px;
// padding-left: 0px;
// padding-right: 0px;
// padding-top: 0px;

// background-position: 50% 0%;
// background-size: 1250px 400px;
// background-repeat: no-repeat;
// zoom: 1;

background: url(/images/home-banner-tedx.jpg) no-repeat center center #fff;
background-color:#000;
height: 400px;
background-size: 1250px 400px;

}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
//   background-size: 2500px 800px;

// }

$menu-background-color: #333;

.menu-container {
  background: $menu-background-color;
  height: rem-calc(50);
}
.menu-container a {
  margin-bottom: 0;
}

.menu-button {
  @include button(rem-calc(14), $menu-background-color, false, false, false, false);
}

.home-header-callout-box > h3 {
}

// .home-header-callout-box {
//   z-index:-1;
//   background-color: #333;
//   background-color: rgba(51,51,51,0.6);
//   padding-top: $column-gutter/2;
//   padding-bottom: $column-gutter/2;
// }

.home-header-text {
color: #d4d4d4;
// font-weight: bold;
}
.home-header-text-alt {
color: #acacac;
// font-weight: bold;
}
// .header-text {
// color: $body-font-color;
// font-weight: bold;
// }

.header-text-alt {
color: lighten($body-font-color, 40%);
// font-weight: bold;
}

.home-header {
  padding-top:rem-calc(185);
   position: relative;
}

$bubble-color: #333;

.bubble {
  background-color: $bubble-color;
  border: none;
}

// .bubble 
// {
// position: relative;
// width: 250px;
// height: 120px;
// padding: 0px;
// background: #FFFFFF;
// -webkit-border-radius: 10px;
// -moz-border-radius: 10px;
// border-radius: 10px;
// }

.bubble:after 
{
position: absolute;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 110px;
}


.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  // color:#000;
  background: $bubble-color; /* default background for browsers without gradient support */
  /* css3 */
  // background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  // background:-moz-linear-gradient(#f9d835, #f3961c);
  // background:-o-linear-gradient(#f9d835, #f3961c);
  // background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates triangle */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:$bubble-color transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.callout-white {
  background-color: #fff;
}

.header-callout-text {
  padding-top: rem-calc(18);
}

.marketing-list li {
  // background: #f00;
  padding-bottom: rem-calc($rem-base);
}

.unstyled-link {
  color: $body-font-color;
}

.unstyled-link-alt {
  color: $body-bg;
}

h2.feature-headline {
  font-weight: 300;
}
h2.feature-headline > strong {
  font-weight: 400;
}

.menu-button-small {
  font-size: 130%;
  line-height: 10%;
}