---
title: "Subcribe to the Course: You’re So Close."
---


<div class="row">
	<div class="small-12 columns">
		
<h1>Just One More Step</h1>
<p>All you have to do is to confirm your subscription. If you check your email you should find the confirmation email I just sent you.</p>
<h3>Using Gmail? Me too, but here are some tips...</h3>
<p>Gmail is awesome for email but it often doesn't play well with corses like these. If you can't find that email, be sure to check your Spam folder first, but next definitely look in the Promotions tab.</p>
<p>IMPORTANT: If you find my email in your Promotions tab, be sure to drag the email to your Primary tab. This will make sure you get all of my lessons right away, without them being burried in the promotions tab.</p>
<h3>Now, go forth and check that email. Your first lesson is waiting for you.</h3>

	</div>
</div>
