---
title: "Subcribe to the Course: You’re So Close."
---


<div class="row">
	<div class="small-12 columns">



		<h1>Success, your subscription is confirmed</h1>
		

		<p>A big thanks for subscribing and it's great to have you on board.</p>

		<p>Here is an idea of what you can expect</p>

<div class="row">
	<div class="medium-10 columns medium-centered"><div class="panel radius">
			<h4>You will be receiving an introduction to the course in a few minutes.
				<br>
				<hr>
				15 minutes after that, I will be sending you instructions on how to install ZURB Foundation and get ready for the first lesson.
				<br>
				<hr>
				After your get ZURB Foundation installed or 15 minutes have passed I will be sending your your first lesson.
			</h4>
		</div>
		</div>
</div>

	<p>After that <strong>you should be receiving a new lesson about every 2 days</strong>.</p>

		<h3>Using Gmail? </h3>
		<p>Be sure to drag the email to your Primary tab. That way you will be sure to get all of my lessons.</p>


		<p>While you are waiting, you might be interested in my resources section for tool recommendations: <a href="/resources">James Stone Resources &raquo;</a></p>






		<p>After that, be sure to check out some of the places I hang out online. Feel free to stop by and say hi:</p>

		<ul>
			<li><a href="https://twitter.com/JAMESSTONEco">Twitter</a></li>
			<li><a href="https://plus.google.com/+JamesStoneAuthorSpeakerDeveloperMediaArtist">Google+</a></li>
			<li><a href="https://www.youtube.com/user/JamesManOfStone">YouTube</a></li>
		</ul>

		<div class="row"> <div class="collapse"> <div class="medium-2 columns end"> <p> <img src="/images/headshot/2015/james-friendly-square.jpg" alt=""> </p> </div> </div> </div>

		<p>Talk to you soon.</p>
		<p>&mdash;James, author of ZURB Foundation Blueprints</p>


	</div>
</div>
