---
title: The Vertical HR
time: 8:30 AM PST
tags: codepen, foundation-sites, css
---



SPLIT\_SUMMARY\_BEFORE\_THIS

Today I am working a lot with vertical rules. You know, the type that divide your different panels while keeping a pretty clean look. Here are a couple of ideas about how you can use the lonely HR tag using ZURB Foundation and an idea about how to creat a vertical one.

<p data-height="900" data-theme-id="11644" data-slug-hash="bNReGW" data-default-tab="result" data-user="jamesstoneco" class='codepen'>See the Pen <a href='http://codepen.io/jamesstoneco/pen/bNReGW/'>ZURB Foundation: Dealing with Vertical HRs</a> by James Stone (<a href='http://codepen.io/jamesstoneco'>@jamesstoneco</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>