---
title: Mobile Friendly Forms
time: 8:30 AM PST
tags: codepen, foundation-sites
---



SPLIT\_SUMMARY\_BEFORE\_THIS

This marks my first daily dispatch. Inspired by reading chapter (3) Share Something Small Everyday from [Show Your Work! by Austin Kleon](http://www.amazon.com/gp/product/076117897X/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=076117897X&linkCode=as2&tag=jamestonport-20&linkId=IDH5EYRQ25TMGIZ5) (the amazing folloup to [Steal Like an Artist](http://www.amazon.com/gp/product/0761169253/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0761169253&linkCode=as2&tag=jamestonport-20&linkId=2WHPULU6OQOHSP35) ) I have decided to follow his advice. Rather than pollute my blog with short posts and wanting something that can be a bit beyond some social platform, I have given them a home here. If you are wondering where here is, it is actually a 2nd blog setup using middleman, with a short to the point interface.

Onward to the Daily Dispatch...

One thing that I do a lot in my day to day work is deal with Mobile Responsive Forms using ZURB Foundation. Below is a CodePen where I attempt to outline a small set of best practices that I used in general when setting up a form. If you have some other ideas about how to aproach forms like these, feel free to fork my pen and follow up in the comments.

NOTE: If you are picking up either of Kleon's books, I recommend getting the physical / paperback version. It is way more fun.

<p data-height="750" data-theme-id="11644" data-slug-hash="YPVbam" data-default-tab="result" data-user="jamesstoneco" class='codepen'>See the Pen <a href='http://codepen.io/jamesstoneco/pen/YPVbam/'>ZURB Foundation: Mobile Friendly Forms</a> by James Stone (<a href='http://codepen.io/jamesstoneco'>@jamesstoneco</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
