---
title: Mobile Friendly Forms
time: 8:30 AM PST
tags: codepen, foundation-sites
---



SPLIT\_SUMMARY\_BEFORE\_THIS

This marks my first daily dispatch. Inspired by reading chapter (3) Share Something Small Everyday from Show Your Work! by Austin Kleon (the amazing folloup to Steal Like an Artist) I have decided to follow his advice. Rather than pollute my blog with short posts and wanting something that can be a bit beyond some social platform, I have given them a home here. If you are wondering where here is, it is actually a 2nd blog setup using middleman, with a short to the point interface.

Onward to the Daily Dispatch...

One thing that I do a lot in my day to day work is deal with Mobile Responsive Forms using ZURB Foundation. Below is a CodePen where I attempt to outline a small set of best practices that I used in general when setting up a form. If you have some other ideas about how to aproach forms like these, feel free to fork my pen and follow up in the comments.

<p data-height="750" data-theme-id="11644" data-slug-hash="YPVbam" data-default-tab="result" data-user="jamesstoneco" class='codepen'>See the Pen <a href='http://codepen.io/jamesstoneco/pen/YPVbam/'>ZURB Foundation: Mobile Friendly Forms</a> by James Stone (<a href='http://codepen.io/jamesstoneco'>@jamesstoneco</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
