---
title: "About James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: I am the author of Zurb Foundation Blueprints (Packt) and the Chief Investigator at James Stone Intermedia. I have worked at Apple, Loudeye (now Nokia), Tower Records and taught at the School of Visual Art at Penn State as an Instructor.
active_nav: about
---

<div class="content-top-spacing"></div>


<div class="row">
  <div class="small-12 columns">
    <h1>All about manofstone</h1>
  </div>
</div>
<div class="row">
<div class="small-6 medium-4 large-4 push-8 large-uncentered columns">
    <p> <img class="th" src="/images/james-palais-tokyo.jpg" alt=""> </p>
  </div>
  <div class="medium-8 large-8 pull-4 columns"> <!-- main content -->
    <p>Hi, I am James Stone from manofstone.com and if you have ever asked yourself:</p>
    <ul class="marketing-list">
      <li>What's the best to approach responsive design?</li>
      <li>How can I design and build fast light and iterative projects?</li>
      <li>What are the current best practices the web?</li>
      <li>How can I learn just enough HTML5/CSS3/JavaScript/jQuery/Grid Systems/etc. to create awesome apps?</li>
      <li>How do professional designers and developers build modern web apps?</li>
    </ul>
    <p>then you are in the right place.</p>
    <p>I produce books, screencasts, articles and courses to show you how to approach modern responsive web development and design. I will show you the very same workflow and tools that I use on a daily basis.</p>
  </div>
</div>

<div class="row"> 
  <div class="small-12 columns"> 
    <p>Do you want to learn from my mistakes and gain insight and knowledge about best practices and approaches? If so, be sure to enter your email and press the "Sign Me Up!" button below:</p>
  </div>
</div>
<div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>

<div class="row">
  <div class="small-12 columns">
    <h2>What are people saying about manofstone?</h2>
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered medium-6 large-8 columns">

    <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> <a href="https://twitter.com/_lenamasek">@_lenamasek</a> James is an awesome top contributor!</p>&mdash; ZURB Foundation (@ZURBfoundation) <a href="https://twitter.com/ZURBfoundation/statuses/428343480645980160">January 29, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> Thanks James! Your site and help on the forum make this community stronger!</p>&mdash; ZURB Foundation (@ZURBfoundation) <a href="https://twitter.com/ZURBfoundation/statuses/448920873034977282">March 26, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


    <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> I&#39;m gonna code like you one day Mr. Stone!</p>&mdash; randy tolentino (@techtolentino) <a href="https://twitter.com/techtolentino/statuses/444518945010118656">March 14, 2014</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>Whats the best way to find out what all the buzz is about? Sign up for my list below, it's free.</p>
  </div>
</div>

<div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>

<div class="row">
  <div class="small-12 columns">
    <h2>About James Stone</h2>

    <p><img class="th" src="/images/james-chateau-wide-alt.jpg" alt=""></p>


    <p>James Stone is the author of ZURB Foundation Blueprints and is a top contributor to ZURB Foundation. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College.</p>
    <p>He holds an MFA in Studio Art and served as a University Fellow and Instructor at the School of Visual Arts at Penn State. He has worked on large scale public art projects and exhibited his work both nationally and internationally.</p>
    <p>If you want to learn the same techniques and tools as he uses for modern web development, be sure to sign up below.</p>

  </div>
</div>

<div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>
</div>
</div>

<div class="row">
  <div class="large-10 columns">
    <p><small>Attribution and Credits<br>
      Photography is provided courtesy of <a class="unstyled-link" href="http://unsplash.com">Unsplash</a> and David Niblack of <a class="unstyled-link" href="http://imagebase.net">Imagebase</a>.
      <br>
      <a class="unstyled-link" href="http://thenounproject.com/term/book/17900">Book by Michael Rowe</a>, 
      <a class="unstyled-link" href="http://thenounproject.com/term/edit-code/37814">Edit Code by Garrett Knoll</a>, and 
      <a class="unstyled-link" href="http://thenounproject.com/term/unicorn/8979">Unicorn by Gilad Fried</a>
      from <a class="unstyled-link" href="http://thenounproject.com">The Noun Project</a>.</small></p>

    </div>
  </div>