---
title: "About James Stone: Author, Speaker, Developer and Media Artist"
seo_desc: I am the author of Zurb Foundation Blueprints (Packt) and the Chief Investigator at James Stone Intermedia. I have worked at Apple, Loudeye (now Nokia), Tower Records and taught at the School of Visual Art at Penn State as an Instructor.
active_nav: about
---

<div class="content-top-spacing"></div>


<div class="row">
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="small-12 columns">
        <h1>All about manofstone</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-6 large-4 push-8 large-uncentered columns">
      <p> <img class="th" src="/images/james-palais-tokyo.jpg" alt=""> </p>
      </div>
      <div class="large-8 pull-4 columns"> <!-- main content -->



        <p>Hi, I am James Stone from manofstone.com and you have ever asked yourself:</p>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
          <li>Repellat, sint iste nobis iusto quia itaque assumenda.</li>
          <li>Maiores voluptates cumque quas omnis quod impedit expedita!</li>
          <li>Vero, alias dolorum ipsum aperiam vitae similique laborum!</li>
          <li>Ratione, iusto neque dignissimos sint suscipit vero consectetur.</li>
        </ul>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, nemo officia unde culpa aliquam architecto totam numquam odit ipsa. Est, eaque voluptatibus accusamus aut nihil beatae tempore autem doloribus dolorum?</p>

        <p>Then you are in the right place...</p>



      </div>

    </div>

    <div class="row">
      <div class="small-12 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, rem consequuntur eum facilis at mollitia!</p>
        <p>Incidunt, eveniet natus numquam veritatis expedita tempora dolores omnis saepe impedit error quos enim deserunt.</p>
        <p>Dignissimos, impedit, eaque, recusandae odio nemo quia voluptates alias officia nostrum quasi modi rem aut!</p>
      </div>
    </div>

    <div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>

<div class="row">
  <div class="small-12 columns">
    <h2>What people are talking about</h2>
  </div>
</div>
    <div class="row">
      <div class="small-10 small-centered large-8 columns">

        <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> <a href="https://twitter.com/_lenamasek">@_lenamasek</a> James is an awesome top contributor!</p>&mdash; ZURB Foundation (@ZURBfoundation) <a href="https://twitter.com/ZURBfoundation/statuses/428343480645980160">January 29, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> Thanks James! Your site and help on the forum make this community stronger!</p>&mdash; ZURB Foundation (@ZURBfoundation) <a href="https://twitter.com/ZURBfoundation/statuses/448920873034977282">March 26, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


        <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" data-partner="tweetdeck"><p><a href="https://twitter.com/manofstone">@manofstone</a> I&#39;m gonna code like you one day Mr. Stone!</p>&mdash; randy tolentino (@techtolentino) <a href="https://twitter.com/techtolentino/statuses/444518945010118656">March 14, 2014</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, iure, ipsam sint nesciunt dolorum veritatis fugit vel iste nisi delectus harum voluptates illo aliquam placeat?</p>
      </div>
    </div>

    <div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>

    <div class="row">
      <div class="small-12 columns">
        <h2>About James Stone</h2>

        <p><img class="th" src="/images/james-chateau-wide.jpg" alt=""></p>


        <p>James Stone is the author of ZURB Foundation Blueprints and is a top contributor to ZURB Foundation. James has spoken at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College.</p>
        <p>He holds an MFA in Studio Art and served as a University Fellow and Instructor at the School of Visual Arts at Penn State.</p>
        <p>If you want to learn the same techniques and tools as he uses for modern web development, be sure to sign up below.</p>

      </div>
    </div>

    <div class="row"> <div class="small-12 columns"> <%= partial "updatesabout" %> </div> </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h5>Attribution and Credits</h5>
    <p>Photography is provided courtesy of <a href="http://unsplash.com">Unsplash</a> and David Niblack of <a href="http://imagebase.net">Imagebase</a>.</p>
    <p><a href="http://thenounproject.com/term/book/17900">Book by Michael Rowe</a>, 
      <a href="http://thenounproject.com/term/edit-code/37814">Edit Code by Garrett Knoll</a>, and 
      <a href="http://thenounproject.com/term/unicorn/8979">Unicorn by Gilad Fried</a>
      from <a href="http://thenounproject.com">The Noun Project</a>.</p>
    </div>
  </div>