---
title: Sublime Text 3 Screencast on CodeTV
date: 2014/10/05
time: 11:00 AM PST
tags: Developers, Marketing, Blog
featured_image: "/blog/featured-images/codetv.svg"
featured_image_wide: "/blog/featured-images/codetv-wide.svg"
highlights: 
 - CodeTV Screencast
 - About Code School
 - James' Favorite Episodes
published: false
---

I am excited to announce my first Screencast featured on Code School + TV: Sublime Text 3. 

SPLIT\_SUMMARY\_BEFORE\_THIS

It is basically my latest Sublime Text 3 workflow alongside Emmet and how to very quickly work with web frameworks like ZURB Foundation. 

If you have a Code School account (subscription required) be sure to check it out. And if you check it out, be sure to leave me a comment. I would love to hear what you think or if you have any questions.


<p class="text-center"><a class="button large secondary" href="https://www.codeschool.com/screencasts/sublime-text-3">Check out the Sublime Text 3 episode at Code School &raquo;</a></p>

If you are not familiar with Code School, they are a really fantastic online training resource that I have also used myself. Two things that have always stood out for me about Code School: 1) They have current relevant technologies and projects and 2) they make it fun.

<%= partial(:tweetthis, :locals => {:quote => "Check out the Sublime Text 3 screencast on @codeschool by James Stone"}) %>

Why just watch a screencast on rails when you can watch Rails for Zombies. Sure it can get a little cheasy at times, but hidden in that is a great mnemonic technicque for remembering diffrerent api’s quicker.

I am pretty honored to be joining the ranks of these awesome folks who are also over on CodeTV:

* [Guy Routledge: AtoZ CSS](http://www.atozcss.com)
* [John Lindquist: Egghead.io](https://egghead.io)
* [Gregg Pollack](http://envylabs.com/)
* [Carlos Souza](http://jay.mcgavren.com/blog)

Here are a few of my favorite epidodes if you are trying to figure what to watch next:

* [Egghead.io: Reusable Angular Directives](https://www.codeschool.com/screencasts/egghead-io-reusable-angular-directives)
* [Egghead.io: Flexible Angular Directives](https://www.codeschool.com/screencasts/egghead-io-flexible-angular-directives)
* [Rails App From Scratch - Devise](https://www.codeschool.com/screencasts/rails-app-from-scratch-devise)
* [Testing CoffeeScript with Jasmine](https://www.codeschool.com/screencasts/testing-coffeescript-with-jasmine)
* [Unix Basics - Part 1](https://www.codeschool.com/screencasts/unix-basics-part-1)
* [Unix Basics - Part 2](https://www.codeschool.com/screencasts/unix-basics-part-2)
* [Shell Productivity - Part 1](https://www.codeschool.com/screencasts/shell-productivity-part-1)
* [Shell Productivity - Part 2](https://www.codeschool.com/screencasts/shell-productivity-part-2)
* [Most Useful jQuery Libraries](https://www.codeschool.com/screencasts/most-useful-jquery-libraries)
* [Pry](https://www.codeschool.com/screencasts/pry)

I am right now working on two additional screencasts for Code School. I can’t say exactly what they are about, but I am really excited about the topics.

Be sure to stay tuned.

Have you ever used Code School? Are you thinking about joining up? What do you think about the Code School style? Let me know in the comments.