# block visitors referred from semalt.com
RewriteEngine on
# handle http ref spam
RewriteCond %{HTTP_REFERER} semalt\.com [NC]
RewriteCond %{HTTP_REFERER} semalt.semalt\.com [NC]
RewriteCond %{REMOTE_HOST} \.semalt\.com$ [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?semalt.com [NC]
# additional knows spammers
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?200please.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?kambasoft.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?savetubevideo.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?embedle.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?extener.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?fbfreegifts.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?feedouble.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?musicprojectfoundation.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?myprintscreen.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?openfrost.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?openmediasoft.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?softomix.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?srecorder.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?videofrost.com [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?joinandplay.me [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?backgroundpictures.net [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?feedouble.net [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?softomix.net [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?videofrost.net [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?joingames.org [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?soundfrost.org [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?vapmedia.org [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?youtubedownload.org [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?zazagames.org [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?softomix.ru [NC]
RewriteCond %{HTTP_REFERER} ^([^.]+.)*?srecorder.com [NC]
RewriteRule .* - [F]



# redirect everything over ssl
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} !jamesstone.co$ [NC]
RewriteRule ^(.*)$ https://www.jamesstone.co/$1 [R=301,L] 

# cloaked affiliate links
RewriteCond %{REQUEST_URI} ^/aso($|/)
RewriteCond %{REQUEST_URI} ^/asmallorange($|/)
rewriterule (.*) http://www.asmallorange.com?a_aid=JAMESSTONEco [l,nc]
RewriteCond %{REQUEST_URI} ^/do($|/)
RewriteCond %{REQUEST_URI} ^/digitalocean($|/)
rewriterule (.*) https://www.digitalocean.com/?refcode=519feb181144 [l,nc]
RewriteCond %{REQUEST_URI} ^/vpn($|/)
RewriteCond %{REQUEST_URI} ^/vypr($|/)
RewriteCond %{REQUEST_URI} ^/vyprvpn($|/)
rewriterule (.*) http://www.goldenfrog.com/vyprvpn/special/referral?offer_id=42&aff_id=1599 [l,nc]
RewriteCond %{REQUEST_URI} ^/bb($|/)
RewriteCond %{REQUEST_URI} ^/bitballoon($|/)
rewriterule (.*) https://www.bitballoon.com?af=js [l,nc]
RewriteCond %{REQUEST_URI} ^/rs($|/)
RewriteCond %{REQUEST_URI} ^/rackspace($|/)
rewriterule (.*) http://tracking.rackspace.com/SHYa [l,nc]
RewriteCond %{REQUEST_URI} ^/focus@will($|/)
RewriteCond %{REQUEST_URI} ^/focusatwill($|/)
rewriterule (.*) http://www.shareasale.com/r.cfm?b=553089&u=989116&m=50055&urllink=&afftrack= [l,nc]

# Enable Browser Caching
ExpiresActive On 
# Default directive
ExpiresDefault "access plus 1 month"



# custom 404 page
ErrorDocument 404 /404/index.html

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    <IfModule mod_setenvif.c>
        # Netscape 4.x has some problems...
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        
        # Netscape 4.06-4.08 have some more problems
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        
        # MSIE masquerades as Netscape, but it is fine
        # BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
        
        # NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
        # the above regex won't work. You can use the following
        # workaround to get the desired effect:
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
        
        # Don't compress images
        SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary

    </IfModule>
    
    <IfModule mod_headers.c>
        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
</IfModule>