# block visitors referred from semalt.com
RewriteEngine on

# redirect everything over ssl
RewriteCond %{HTTP_HOST} jamesstone.co$ [NC]
RewriteCond %{HTTP_HOST} www.jamesstone.co$ [NC]
RewriteRule ^(.*)$ https://www.jamesstone.com/$1 [R=301,L] 
