<ul class="example-orbit" data-orbit data-options="animation:slide;
                  pause_on_hover:true;
                  slide_number:false;
                  stack_on_small:true;
                  animation_speed:500;
                  navigation_arrows:false;
                  bullets:true;">
  <li>
<div class="row">
  <div class="small-12 columns">
    <div class="card">
      <div class="row">
        <div class="medium-7 columns">
          <div class="flex-video widescreen-youtube-min">
            <iframe width="1280" height="720" src="//www.youtube.com/embed/5HfgJDmk5As?autoplay=0&controls=0&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="medium-5 columns">
          <h2>Screencasts on YouTube</h2>
          <ul>
            <li>Join 100k+ viewers and 800+ subscribers</li>
            <li>New Videos Every Week</li>
            <li>Learn ZURB Foundation, SVG and JavaScript</li>
          </ul>
          <br>
  <p>
    <a href="http://www.youtube.com/subscription_center?add_user=JamesManOfStone" class="button large radius" target="_blank">Subscribe to Channel &raquo;</a>
  </p>
        </div>
      </div>
    </div>
  </div>
</div>
  </li>
  <li>
    <div class="row">
      <div class="small-12 columns">
        <div class="card">
          <div class="row">
            <div class="medium-6 columns">
              <img src="/images/landing/zf-bp-hero.jpg" alt="Zurb Foundation Quick Reference">
              </div>
            <div class="medium-6 columns" style="padding-top:1rem;">
              <h1>ZURB Foundation Blueprints</h1>
              <p  style="">A book that showcases 9 practical projects -- demonstrates how to build professional and responsive websites</p>
            
              <p>
                <a href="/zurb-foundation-blueprints" class="button large radius">Learn More &raquo;</a>
              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
<div class="row" style="padding-top:1rem;">
  <div class="small-12 columns">
    <div class="card">
      <div class="row">
        <div class="medium-6 columns">
          <img src="/images/landing/zf-quickref-hero.jpg" alt="Zurb Foundation Quick Reference">
<!--           <div class="flex-video widescreen-youtube-min">
            <iframe width="853" height="480" src="//www.youtube.com/embed/5HfgJDmk5As?autoplay=0&controls=0&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
 -->        </div>
        <div class="medium-6 columns" style="padding-top:1rem;">
          <h1>ZURB Foundation <br>is more powerful than you think</h1>
          <p>The secret to learning it is knowing what patterns to use. Rather than dig through the documentation, use industry standard design patterns to build your site fast.</p>
        
          <p>
            <a href="/zurb-foundation-quick-reference" class="button large radius">Learn More &raquo;</a>
          </p>
      
        </div>
      </div>
      </div>
      </div>
      </div>

  </li>
</ul>