<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <br>
      <h2 class="text-center" style="padding-top:1rem;padding-bottom:2.5rem;">ZURB Foundation is more <strong>powerful</strong> than you think</h2>
    </div>
  </div>
  <div class="row">

    <div class="small-10 columns small-centered">
      <a href="//fast.wistia.net/embed/iframe/3qr4pw8dm3?popover=true" class="wistia-popover[height=512,playerColor=7b796a,width=910]"><img src="https://embed-ssl.wistia.com/deliveries/54ee79085d4a8bcdfb4f1074f0ce13538c360cf5.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=1440x720" alt="" /></a>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
      <br>
      <br>
      <br>
<div class="row">
  <div class="small-8 columns small-centered">
    <form class="transparent-form" action="">
      <div class="row collapse">
        <div class="small-6 columns">
          <input type="email" placeholder="Your Email">
        </div>
        <div class="small-6 columns">
          <input type="submit" class="button postfix radius" value="Send me the course via email &raquo;">
        </div>
        
      </div>
    </form>
  </div>
</div>

<br>
<br>
    </div>
  </div>


</section>