



<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <h2>ZURB Foundation is more powerful than you think</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns small-centered">
      <a href="//fast.wistia.net/embed/iframe/3qr4pw8dm3?popover=true" class="wistia-popover[height=512,playerColor=2F5C90,width=910]"><img src="https://embed-ssl.wistia.com/deliveries/54ee79085d4a8bcdfb4f1074f0ce13538c360cf5.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=1440x720" alt="" /></a>

    </div>
  </div>
  <div class="row">
    <div class="medium-10 columns medium-centered">
      <div class="row collapse short-points">
        <div class="medium-3 columns"> <p>Foundation Sass + Mixins</p> </div>
        <div class="medium-3 columns"> <p>Master the Foundation Grid</p> </div>
        <div class="medium-3 columns"> <p>(S)CSS that doesn't suck</p> </div>
        <div class="medium-3 columns"> <p>Learn only what you need</p> </div>
        <!-- <div class="medium-3 columns"> <p>BYO damn templates</p> </div> -->
      </div>
      <div class="row">
        <div class="small-10 columns small-centered">
          <div class="transparent-form">
            <form action='//jamesstoneintermedia.activehosted.com/proc.php' method='post' id='_form_1066' accept-charset='utf-8' enctype='multipart/form-data' data-abide>
              <input type='hidden' name='f' value='1066'>
              <input type='hidden' name='s' value=''>
              <input type='hidden' name='c' value='0'>
              <input type='hidden' name='m' value='0'>
              <input type='hidden' name='act' value='sub'>
              <input type='hidden' name='nlbox[]' value='5'>
              <div class="medium-5 columns">
                <input type="email" name="email" placeholder="Your Email" required>
                <small class="error">An email address is required.</small>
              </div>
              <div class="medium-7 columns">
                <input type="submit" class="button postfix radius" value="SEND ME THE COURSE BY EMAIL &raquo;">
              </div>
            </form>
          </div>  
        </div>
      </div>
      <p>sign up for this free course and build your own damn templates</p>
    </div>
  </div>
</section>