




<section class="hero">
  <div class="row">
    <div class="small-12 columns">
    <br>
    <br>

      <h2> ZURB Foundation Workshop, September 25th &ndash; 27th, 2015 <br>
      Online + Coding House (SF Bay Area)
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 columns medium-centered">
      <div class="row collapse short-points">
        <div class="medium-3 columns"> <p>Foundation Sass + Mixins</p> </div>
        <div class="medium-3 columns"> <p>Master the F5 Grid</p> </div>
        <div class="medium-3 columns"> <p>(S)CSS that rocks</p> </div>
        <div class="medium-3 columns"> <p>Learn only what you need</p> </div>
        <!-- <div class="medium-3 columns"> <p>BYO damn templates</p> </div> -->
      </div>

      <br>
      <br>

      <p class="text-center">
        <a href="http://zurbfoundationcamp.com/" target="_blank" class="button radius">VIEW DETAILS ON ZURBFOUNDATIONCAMP.COM &raquo;</a>
      </p>
    </div>
  </div>
</section>

