
<!-- 


<div class="row" style="padding-top:30px;">
  <div class="medium-4 columns">
    <div class="card">
      <h3>Resources</h3>
        <ul class="no-bullet" style="padding-bottom:1rem;">
         <li><a href="/resources/getting-started">Getting Started</a></li>
         <li><a href="//www.youtube.com/user/JamesManOfStone">Screencasts on YouTube</a></li>
         <li><a href="/zurb-foundation-quick-reference">Quick Reference</a></li>
         <li><a href="/zurb-foundation-blueprints">Blueprints Book</a></li>
         <li><a href="//leanpub.com/zurb-foundation-performance-guide">ZURB Performance Guide</a></li>
         <li><a href="/resources/hosting">Hosting</a></li>
       </ul>

      <h3 class="hide">Top Articles</h3>
      <ul class="no-bullet hide">      
        <% data.widgets.top_articles.each do | article | %>
          <li><a href="<%= article["url"]%>"><%= article["title"]%></a></li>
        <% end %>
      </ul>

    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <h3>Lets Talk</h3>
        <p>
        <a href="https://clarity.fm/jamesstone/precall?c=t&utm_source=blog_widget_request&utm_medium=blog_widget_request&utm_term=widget_jamesstone_25579&utm_campaign=blog_widget_request" class="button expand radius tiny secondary" target="_blank">Quick Question? Book 15 mintues &raquo;</a> <br>
        <a href="/consulting" class="button expand radius tiny secondary">Consulting Services &raquo;</a>
        <a href="/contact" class="button expand radius tiny secondary">Send James a Message &raquo;</a>
        <a href="//www.twitter.com/JAMESSTONEco" class="button expand radius tiny secondary" target="_blank">Reach out on Twitter &raquo;</a>
        </p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <h3>If you made it all the way down here...</h3>
      <p>you probally want more great stuff. Sign up for my updates and you will be the first to recieve it.</p>
      <% #= partial "emailsignup" %>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="small-12 columns">
    <h5 class="text-center"><a href="/bb">Hosting sponsored by BitBalloon -- The ultimate hosting platform for your HTML5 sites & apps.</a></h5>
    <br>
  </div>
</div>


<div class="row">
  <div class="medium-7 columns">
    <p>Copyright 2009-2015, James Stone Intermedia, All Rights Reserved.</p>
  </div>
  <div class="medium-5 columns">
    <ul class="button-group right">
      <li><a href="/privacy" class="button secondary tiny">Privacy Policy</a></li>
      <li><a href="/tos" class="button secondary tiny">Terms of Service</a></li>
      <li><a href="/contact" class="button secondary tiny">Contact</a></li>
    </ul>
  </div>
</div>

