

<div class="row" style="padding-top:30px;">
  <div class="medium-6 columns">
    <p>Copyright 2009-2014, James Stone, All Rights Reserved.</p>
  </div>
  <div class="medium-6 columns">
    <ul class="button-group right">
      <li><a href="/privacy" class="button secondary tiny">Privacy Policy</a></li>
      <li><a href="/tos" class="button secondary tiny">Terms of Service</a></li>
    </ul>
  </div>
</div>

