
<footer>

  <div class="row">
    <div class="medium-12 columns">



      <div class="sub-footer">
        <ul class="menu align-right">
          <li><a href="/TODO">Comment Policy</a></li>
          <li><a href="/tos">Terms of Service</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p>Copyright 2009-2015, <a href="http://www.jamesstone.com">James Stone Intermedia</a>, All Rights Reserved.</p>
      </div>


    </div>
  </div>

</footer>

<!-- <h5 class="text-center"><a href="/bb">Hosting sponsored by <span class="label">BitBalloon</span> &ndash; The ultimate hosting platform for your HTML5 sites &amp; apps</a></h5> -->
