
<footer>


  <hr>


  <div class="row">
    <div class="medium-12 columns">



      <div class="sub-footer">
        <ul class="menu align-right">
        <li><a href="/TODO">Comment Policy</a></li>
        <li><a href="/tos">Terms of Service</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>

<!--           <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/resources/getting-started">Start Here</a></li>

 -->        </ul>
        <p>Copyright 2009-2015, James Stone Intermedia, All Rights Reserved.</p>
      </div>


    </div>
  </div>

</footer>
    <!-- <h5 class="text-center"><a href="/bb">Hosting sponsored by <span class="label">BitBalloon</span> &ndash; The ultimate hosting platform for your HTML5 sites &amp; apps</a></h5> -->


