<div class="show-for-small">
  <div class="show-for-portrait">
    <div class="menu-container">
      <a class="left" href="/"><img src="/favicon-96.png" alt="manofstone logo" height="50" width="50"></a>
      <ul class="button-group right">
        <li><a href="/about" class="menu-button-small"><i class="fi-torso"></i></a></li>
        <!-- <li><a href="/products" class="menu-button-small"><i class="fi-pricetag-multiple"></i></a></li> -->
        <li><a href="/contact" class="menu-button-small"><i class="fi-microphone"></i></a></li>
        <li><a href="/updates" class="menu-button-small"><i class="fi-megaphone"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="show-for-landscape">
    <div class="menu-container">
      <a class="left" href="/"><img src="/favicon-96.png" alt="manofstone logo" height="50" width="50"></a>
      <ul class="button-group right">
      <li><a href="/about" class="menu-button">About</a></li>
      <!-- <li><a href="/products" class="menu-button">Products</a></li> -->
      <li><a href="/contact" class="menu-button">Contact</a></li>
      <li><a href="/updates" class="menu-button">Free Updates</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="show-for-medium-up">
  <div class="menu-container">
<div class="row">
    <div class="small-12 columns">
      <a class="left" href="/"><img src="/favicon-96.png" alt="manofstone logo" height="50" width="50"></a>
      <ul class="button-group right">
        <li><a href="/about" class="menu-button">About</a></li>
        <!-- <li><a href="/products" class="menu-button">Products</a></li> -->
        <li><a href="/contact" class="menu-button">Contact</a></li>
        <li><a href="/updates" class="menu-button">Updates</a></li>
      </ul>
    </div>
  </div>  </div>
</div>
