  <nav class="top-bar" top-bar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img src="/images/header/js-logo.svg" alt=""></a></h1>
      </li>
      <li class="toggle-topbar menu-icon" toggle-top-bar class="menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section" top-bar-section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/resources/getting-started">Start Here</a></li>
        <li class="has-dropdown" has-dropdown>
          <a href="">Content</a>
          <ul class="dropdown" top-bar-dropdown>
            <li><a href="/#videos">Videos</a></li>
            <li><a href="/#articles">Articles</a></li>
            <li><a href="/resources/hosting">Resources</a></li>
          </ul>    
        </li>
        <li class="has-dropdown" has-dropdown>
          <a href="">About + Services</a>
          <ul class="dropdown" top-bar-dropdown>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a target="_blank" href="https://clarity.fm/jamesstone/precall?c=t&utm_source=blog_widget_request&utm_medium=blog_widget_request&utm_term=widget_jamesstone_25579&utm_campaign=blog_widget_request">Book 15 Minutes</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </li>
        <li class="has-dropdown" has-dropdown>
          <a href="/dashboard">{{ authData.password.email || "Account"}}</a>
          <ul class="dropdown" top-bar-dropdown>
            <li ng-if="authData"><a href="/dashboard">Dashboard</a></li>
            <li ng-if="authData"><a href="/profile">Profile</a></li>
            <li ng-if="authData"><a ng-click="logout()">Logout</a></li>
            <li ng-if="!authData"><a href="/login">Login</a></li>
            <li ng-if="!authData"><a href="/signup">Sign up</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
      </ul>
    </section>
  </nav>

