<header>
  <nav>
    <ul class="menu align-right hide-for-small-only">
      <li><a <%= 'class="active" ' if current_page.data.active_nav == 'question' %> href="/ask-a-question">Ask a Question</a></li>
      <li><a <%= 'class="active" ' if current_page.data.active_nav == 'about' %> href="/about">About</a></li>
    </ul>
    <h1 class="logo"><a href="/"><img src="images/fc/fc-logo.svg" alt=""></a></h1>
  </nav>
  <div class="sub-nav hide">
    <ul class="menu align-right">
      <li><a href="">Logout</a></li>
      <li><a href="">Profile + Settings</a></li>
    </ul>
    <ul class="menu">
      <li><a href="/members">Members Area</a></li>
      <li><a href="/members/screencasts">Screencasts</a></li>
      <li><a href="/members/courses">Courses</a></li>
      <li><a href="/members/ebooks">eBooks + Guides</a></li>
      <li><a href="/members/quickref">Quick Ref</a></li>
      <li><a href="/members/quickref">Slack Beta</a></li>
    </ul>
  </div>
</header>

