<header>
  <nav>
    <ul class="menu align-right">
      <li><a href="/contact">Contact</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/resources/getting-started">Start Here</a></li>
    </ul>
    <h1 class="logo"><a href="/"><img src="/images/2015-redesign/logo-full.svg" alt=""></a></h1>
  </nav>
  <div class="sub-nav hide">
    <ul class="menu align-right">
      <li><a href="">Logout</a></li>
      <li><a href="">Profile + Settings</a></li>
    </ul>
    <ul class="menu">
      <li><a href="/members">Members Area</a></li>
      <li><a href="/members/screencasts">Screencasts</a></li>
      <li><a href="/members/courses">Courses</a></li>
      <li><a href="/members/ebooks">eBooks + Guides</a></li>
      <li><a href="/members/quickref">Quick Ref</a></li>
      <li><a href="/members/quickref">Slack Beta</a></li>
    </ul>
  </div>
</header>

<!-- 

                      <a href="/dashboard">{{ authData.password.email || "Account"}}</a>
          <ul class="dropdown" top-bar-dropdown>
            <li ng-if="authData"><a href="/dashboard">Dashboard</a></li>
            <li ng-if="authData"><a href="/profile">Profile</a></li>
            <li ng-if="authData"><a ng-click="logout()">Logout</a></li>
            <li ng-if="!authData"><a href="/login">Login</a></li>
            <li ng-if="!authData"><a href="/signup">Sign up</a></li>
          </ul> -->

<!-- 
            <li><a href="/#videos">Videos</a></li>
            <li><a href="/#articles">Articles</a></li>
            <li><a href="/resources/hosting">Resources</a></li>
            <li><a target="_blank" href="https://clarity.fm/jamesstone/precall?c=t&utm_source=blog_widget_request&utm_medium=blog_widget_request&utm_term=widget_jamesstone_25579&utm_campaign=blog_widget_request">Book 15 Minutes</a></li> -->
