<header>
  <nav>
    <ul class="menu align-right hide-for-small-only">
      <li><a <%= 'class="active" ' if current_page.data.active_nav == 'contact' %> href="/contact">Contact</a></li>
      <li><a <%= 'class="active" ' if current_page.data.active_nav == 'resource' %> href="/resource-center">Resource Center</a></li>
      <li><a <%= 'class="active" ' if current_page.data.active_nav == 'schedule' %> href="/contact">Schedule Session</a></li>
    </ul>
    <h1 class="logo"><a href="/"><img src="/images/2015-redesign/logo-full.svg" alt="James Stone Logo"></a></h1>
  </nav>
</header>

