<section class="promo">
  <h2><%= data.widgets.promo_headline %></h2>
  <p class="subhead"><%= data.widgets.promo_subhead %></p>
  <a href="" class="button"><%= data.widgets.promo_cta %></a>
</section>