<section class="promo">
  <h2><%= data.widgets.promo_headline %></h2>
  <p class="subhead"><%= data.widgets.promo_subhead %></p>
  <a target="_blank" href="https://calendly.com/jamesstone/1-2-1" class="button"><%= data.widgets.promo_cta %></a>
</section>