.row
  .medium-8.medium-centered.large-7.large-centered.columns
    form action="//www.getdrip.com/forms/8199498/submissions" data-abide="" data-drip-embedded-form="8199498" method="post" target="_blank" 
      input name="f" type="hidden" value="1066" /
      input name="s" type="hidden" value="" /
      input name="c" type="hidden" value="0" /
      input name="m" type="hidden" value="0" /
      input name="act" type="hidden" value="sub" /
      input name="nlbox[]" type="hidden" value="5" /
      .row.collapse
        .small-8.columns
          input name="fields[email]" placeholder=("Your Email") required="" type="email" value="" /
          small.error You must enter your email to recieve updates.
          / input#mce-EMAIL.required.email name="EMAIL" placeholder="email" required="" type="email"
          / small.error You must enter your email to recieve updates.
        .small-3.columns
          input.button.tiny.radius.secondary.expand type="submit" value=("Sign Me Up!") /
          / input#mc-embedded-subscribe.button.tiny.radius.secondary.expand name="subscribe" type="submit" value="Sign Me Up!"
