---
title: "Calendar of James Stone"
seo_desc: If you are looking for a way to get ahold of James Stone, this is the place to do it.
active_nav: cal
---

<div class="content-top-spacing"></div>

<div class="row">
  <div class="medium-12 medium-centered columns"> <!-- main content -->
    <div class="card" style="padding:1rem;">
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=jamesmanofstone%40gmail.com&amp;color=%232F5C90&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
      </div> 
   </div>
</div>


