---
title: "Contact James Stone, Author and Blogger"
seo_desc: If you are looking for a way to get ahold of James Stone, this is the place to do it.
active_nav: contact
---

.content-top-spacing

.row
  .small-12.columns
    .card
      img src="http://localhost:4567/images/james-new-headshot-wide.jpg"
      
      h1.text-center style="padding-top:2rem;padding-bottom:3rem;" A ZURB Foundation Certified Preferred Advisor for your Team
      .row
        .medium-6.columns
          markdown:

            ## Why have James on your team?

            * ZURB Foundation Certified Preferred (the highest level of certification)
            * Author of ZURB Foundation Blueprints
            * A Top Foundation Contributor
            * Based out of San Francisco, California


            ## Technology + Templates

            * Your GitHub or BitBucket Repo
            * JIRA and Trello PM
            * Ruby, PHP and custom vagrant local dev VMs
            * Middleman, Wordpress (themes, plugins and config)
            * erb, haml, slim, handlebars, mustach, angular, meteor, ejs, jade, phtml and other templates
            * Focused on the View but solid across the MVC and MV\*

        .medium-6.columns
          markdown:

            ## ZURB Foundation Integrations

            * Interactive maps with leaflet js
            * Angularjs driven templates
            * Snapsvg powered interactive graphics
            * Responsive transaction emails with ZURB Ink

            ## Not just your average dev /

            * Ensures development decisions are inline with your business goals
            * Advocate of Mobile First and Shoestring UX
            * Extensive Public Speaking Background
            * Strong background in Design
            * MFA in New Media, University Fellow and former Instructor at the School of Visual Art, Penn State
      
      p.text-center: a.button.large.secondary.radius href="/contact" Contact James Stone Intermedia &raquo;

    .card


      h1.text-center Sold on ZURB Foundation, but wondering how you did?
      h2.text-center Introducing the Site + Implementation Code Review
      .row
        .medium-6.columns
          markdown:

            ## Why do I need this?

            * Save time up front by reducing complexity later
            * Not sure if my Sass is organized and makes sense

        .medium-6.columns
          markdown:

            ## What's included

            * Written Report: explains in detail not only what you did wrong, but also what you did right
            * Solution Guide: provides suggestions on how to resolve all issues
            * 30 minute video code review + Transcription
            * 45 minute skype or telephone consult

      p.text-center: a.button.large.radius href="https://gum.co/james-stone-code-review?wanted=true" $500 Introductory Pricing &raquo;

script src="https://gumroad.com/js/gumroad.js" type="text/javascript" 




