---
title: "Contact James Stone"
seo_desc: "Please fill out the form below or email me directly"
active_nav: contact
layout: contact
---

<section class="contact">
  <div class="row align-center">
    <div class="column medium-8">
      <h2>Get in touch and let’s get started!</h2>
      <p>If you have a project you want to discuss with me or would like to ask a question, call me, send me an email or fill out the form below.</p>
      <p class="text-center">
        <span>Phone - <a href="tel:+14155282001">(415) 528-2001</a></span>
        <span>Email - <a href="mailto:james@jamesstone.com">james@jamesstone.com</a></span>
        
      </p>

      <form name="contact" action="thank-you" data-abide novalidate netlify netlify-honeypot="bot-field">

        <div data-abide-error class="callout alert" style="display: none;">
          <p>There are some errors in your form.</p>
        </div>


        <div class="row">
          <div class="column medium-6">

            <label for="name">Name*
              <input name="name" type="text" required>
              <!-- <span class="form-error"> Yo, you had better fill this out, it's required. </span> -->
            </label>

            <label for="title">Title</label>
            <input name="title" type="text">

            <p class="hide"><label>Bot field: <input name="bot-field"></label></p>

            <label for="company">Company</label>
            <input name="company" type="text">
          </div>
          <div class="column medium-6">

            <label for="website">Website</label>
            <input name="website" type="text">

            <label for="email">Email*
            <input name="email" type="email" required>
            </label>

            <label for="phone">Phone Number</label>
            <input name="phone" type="tel">
          </div>
        </div>






        <label for="subject">Subject*
        <input name="subject" type="text" required>
        </label>



        <label for="message">Message*
        <textarea name="message" id="" cols="30" rows="10" required></textarea>
        </label>

        <p class="text-center">
          <input type="submit" class="button" value="Let's do this!">
        </p>

      </form>
      
    </div>
  </div>
</section>