---
title: "James Stone: Learn Foundation, SVG, JavaScript + more"
seo_desc: "The best place to learn ZURB Foundation, SVG and JavaScript. James is a Dev + Designer based out of San Francisco, passionate about UX + Design. He has spoken at at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House."
---

<br class="hide-for-small-only">

<div class="row">
  <div class="small-12 columns">
    
    <h2 class="text-center">Dashboard</h2>
    
    
    
    <div class="panel" ng-if="!authData">You must be <a href="/login">logged in</a> to view this content. Don't worry, its free and you can <a href="/signup">create an account</a> is seconds.</div>
    <div class="panel" ng-if="authData">
    <h2>This is restricted content.</h2>
    <p>Thanks for logging in.</p>
    </div>
  </div>
</div>