---
title: "James Stone: Learn Foundation, SVG, JavaScript + more"
seo_desc: "The best place to learn ZURB Foundation, SVG and JavaScript. James is a Dev + Designer based out of San Francisco, passionate about UX + Design. He has spoken at at the HTML5 Developers Conference, TEDxPSU and the UMD Design | Cultures + Creativity Honors College and is a Mentor at Coding House."
pageable: false
per_page: 15
active_nav: home
published: true
---



    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">
        <ul class="primary condense menu-bar">
          <li><a><strong>Foundation for Apps</strong></a></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="grid-content">
        <div class="grid-container">
          <div ng-class="['ui-animation']" ui-view></div>
        </div>
      </div>
    </div>
    