---
title: "James Stone, Scalable ZURB Foundation Solutions"
seo_desc: "You already know that now is the most important
time to find a stable front-end developer. I'll help you scale-up with ZURB Foundation quickly."
pageable: false
per_page: 8
active_nav: home
hero_headline: "You already know that <strong>now</strong> is the most important<br>time to find a stable front-end developer"
hero_subhead: "I&rsquo;ll help you scale-up with ZURB Foundation quickly"
hero_cta: "Learn more"
featured_headline: "I'm featured on"
membership_headline: "A place for intermediate-level web designers to fine tune their ZF skills"
testimonial_headline: "What people are saying about James"
video_headline: "Top-shelf screencasts that you won’t wear out"
article_headline: "Fresh relevant info that does not waste your time"
error_noresults: "No results found. Try different or fewer keywords."
article_view: "Read Article"
article_more: "More Articles"
---


<section class="hero index">
  <div class="row">
    <div class="small-12 columns">
      <h2><%= current_page.data.hero_headline %></h2>
      <p><%= current_page.data.hero_subhead %></p>
    </div>
  </div>
</section>


<section class="blue">
  <div class="row align-center">
    <div class="small-5 medium-2 columns">
      <img style="padding:20px;" class="round" src="images/index/james-paris-profile.jpg" alt="Photo of James Stone">
    </div>
  </div>
  <div class="row align-center">
    <div class="column medium-8">
      <h2 class="text-center">&ldquo;I&rsquo;m James, I&rsquo;ll plug the gap between your next hire and the job that needs to be done <strong>right now</strong>.&rdquo;</h2>
      <p class="text-center">I&rsquo;ll work with your team building out a solid front-end blueprint while helping you locate and train in&#8209;house talent to take it to the next level.</p>
    </div>
  </div>
</section>

<section class="iterate">
  <div class="row align-center">
    <div class="column medium-8">
      <h2 class="text-center">Iterate &amp; scale (without clocking miles at career fairs)</h2>
      <p>Unlike freelancers, contractors and junior hires that might burn through cash, take eons to ramp up or just got AWOL; <strong>I'll solve your immediate pain now, allowing you to iterate fast and scale quickly</strong>.</p>
      <p>When you&rsquo;re ready I&rsquo;ll help you find and train in-house staff, who will know exactly how your product works (inside and out) to help you secure funding and hit that next major milestone.</p>
    </div>
  </div>
</section>

<%= partial "module_testimonials" %>

<%= partial "module_promo" %>
