---
title: "Products by James Stone, Author and Blogger"
seo_desc: I produce books, screencasts and other products to help you learn Web Development Fast
---

<div class="content-top-spacing"></div>

<div class="row">
  <div class="small-12 columns">
    <div class="card">
      <h1>Learn Web Development the Right Way</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, beatae, et, labore, aut eveniet pariatur ex blanditiis repellendus excepturi similique nam iusto temporibus necessitatibus tenetur iure aliquid nulla facilis voluptatibus!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-3 columns">
    <div class="card product">
      <a href="http://www.amazon.com/Foundation-Blueprints-James-Michael-Stone/dp/1849696721/ref=sr_1_5?ie=UTF8&qid=1399592649&sr=8-5&keywords=james+michael+stone"></a>

      <div class="row">
        <div class="small-8 small-centered columns">
          <img src="/images/zurb-foundation-blueprints/final-mocked-cover.png" alt="">
        </div>
      </div>
      <h3>ZURB Foundation Blueprints</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolores reiciendis alias quam explicabo numquam cupiditate minus quisquam officia eius.</p>
      <a href="http://www.amazon.com/Foundation-Blueprints-James-Michael-Stone/dp/1849696721/ref=sr_1_5?ie=UTF8&qid=1399592649&sr=8-5&keywords=james+michael+stone" class="button expand">Preorder on Amazon</a>
    </div>
      <p class="text-center">
        <a href="http://www.packtpub.com/zurb-foundation-blueprints/book">Preorder on Packt</a>
      </p>

  </div>
  <div class="medium-3 columns">
    <div class="card product">
      <div class="row">
        <div class="small-8 small-centered columns">
          <p>
            <img src="https://s3.amazonaws.com/titlepages.leanpub.com/zurb-foundation-performance-guide/large?1395397445" alt="">
          </p>
        </div>
      </div>
      <h3>Front-end Performance Guide</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolores reiciendis alias quam explicabo numquam cupiditate minus quisquam officia eius.</p>
      <a href="https://leanpub.com/zurb-foundation-performance-guide" class="button expand">BETA on LeanPub</a>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="card product">
      <img src="/images/zurb-foundation-blueprints/quick-ref-placed.jpg" alt="">

      <h3>Foundation Quick Reference</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolores reiciendis alias quam explicabo numquam cupiditate minus quisquam officia eius.</p>
      <a href="#" class="button expand">Purchase on Gumroad</a>
    </div>
      <p class="text-center">
        <a href="/updates">Get it for free.</a>
      </p>

  </div>
  <div class="medium-3 columns">
    <div class="card product">
      <img src="http://placehold.it/400x300" alt="">

      <h3>Udemy Video Course</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolores reiciendis alias quam explicabo numquam cupiditate minus quisquam officia eius.</p>
      <a href="#" class="button expand">Available March 27th</a>
    </div>
  </div>
</div>

