<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type="text/javascript" 
  id="snipcart" 
  src="https://app.snipcart.com/scripts/snipcart.js"
  data-api-key="ZjUzZGNkZGYtMWYwOC00NGI4LWEwYzItNmY3MTg1NzJlYjhj"></script>

<link type="text/css"
  id="snipcart-theme"
  href="https://app.snipcart.com/themes/base/snipcart.css" 
  rel="stylesheet" />

<div class="row">
	<div class="small-12 columns">
		<div class="card">
			
			<h1>This is a test store</h1>

			<div class="panel">
				<span class="snipcart-summary">
				    Number of items: <span class="snipcart-total-items"></span>
				    Total price: <span class="snipcart-total-price"></span>
				</span>

				<a href="#" class="snipcart-checkout">Click here to checkout</a>
			</div>
			
			
			<a href="#"
			    class="snipcart-add-item"
			    data-item-id="2"
			    data-item-name="Dance Recital"
			    data-item-price="34.99"
			    data-item-weight="20"
			    data-item-url="http://myapp.com/products/dance-recitial"
			    data-item-description="The first book by Snowflake Stories"
			    data-item-custom1-name="Special comments"
			    data-item-custom2-name="Something hidden"
    			data-item-custom3-name="Aspernatur?"
    			data-item-custom4-name="Eveniet."
    			data-item-custom5-name="Doloribus."
    			data-item-custom6-name="Facere."
    			data-item-custom7-name="Reprehenderit?"
    			data-item-custom8-name="Ut!"
    			data-item-custom9-name="Veritatis."
    			data-item-custom1-type="hidden"
    			data-item-custom2-type="hidden"
    			data-item-custom3-type="hidden"
    			data-item-custom4-type="hidden"
    			data-item-custom5-type="hidden"
    			data-item-custom6-type="hidden"
    			data-item-custom7-type="hidden"
    			data-item-custom8-type="hidden"
    			data-item-custom9-type="hidden"

    			>


			        Buy bacon
			</a>
		</div>
	</div>
</div>

