---
title: ZURB Foundation Blueprints - a Book by James Stone
seo_desc: A book that showcases 9 practical projects, demonstrating ZURB Foundation being used to build professional and responsive websites
---







      <div class="row"> <div class="small-12 columns"> <p>&nbsp;</p> </div> </div>


<div class="row">
  <div class="small-12 columns">
    <div class="card-landing">
      <div class="row">
        <div class="medium-6 columns">
          <img src="/images/landing/zf-bp-hero.jpg" alt="Zurb Foundation Quick Reference">
<!--           <div class="flex-video widescreen">
            <iframe width="853" height="480" src="//www.youtube.com/embed/5HfgJDmk5As?autoplay=0&controls=0&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
 -->        </div>
        <div class="medium-6 columns" style="padding-top:1rem;">
          <h1>ZURB Foundation Blueprints</h1>
          <p  style="padding-right:2rem;">A book that showcases 9 practical projects -- demonstrates how to build professional and responsive websites</p>
        
          <a href="#" class="button large radius" style="background:#EB8B2A;font-weight:bold;" data-reveal-id="step-2" data-reveal>I want this!</a>
        </div>
      </div>


      <div class="row" style="padding-top:3rem;">
        <div class="medium-6 columns">
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-foundation" style="font-size:3rem;color:#FFFFFF;padding-left:1rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Explore the power of Compass and Sass when combined with ZURB Foundation</h3>
            <p>Go beyond the basic CSS ZURB Foundation Install for deeper customization</p>      
          </div>
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-results" style="font-size:3rem;color:#FFFFFF;padding-left:0.8rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Master the ins and outs of responsive web design</h3>
            <p> Go step-by-step from prototype to completed design with the help of practical examples</p>      
          </div>
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-comments" style="font-size:3rem;color:#FFFFFF;padding-left:0.65rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Written in an upbeat, conversational style </h3>
            <p>Explains not only what to do, but why design decisions were made</p>
          </div>
        </row>
          
        </div>
        <div class="medium-6 columns" style="padding-right:2rem;">
          <h2>Perfect for those learning ZURB Foundation</h2> 
          <p>ZURB Foundation Blueprints, published by Packt Publishing takes you through 9 projects step-by-step. In each chapter I   show you exactly how to create functional and responsive designs. I will teach you the best practices in Foundation by showing how entire sites are built from the ground up.</p>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row hide">
  <div class="small-12 columns">
    <div class="card-landing">
      <div class="row" style="padding-top:2rem;">
        <div class="medium-10 medium-centered columns">    
      
          <p class="text-center" style="font-size:1.5rem;line-height:130%;color:#777;"><span style="font-size:2rem;">&ldquo;</span> Thank you James Stone! I cannot tell you how many times my colleagues asked me for help with ZURB Foundation 5 -- all credit goes to you! &rdquo;</p>
        </div>
        <div class="medium-1 medium-centered columns">
            <img style="border-radius: 9999px;" src="/images/landing/profile-randy.jpg" alt="">
        </div>
        <div class="medium-6 medium-centered columns">
          <p class="text-center" style="color:#999;"><strong style="color:#777;">Randy Tolentino</strong><br>
          Front-end UI Enthusiast</p>
        </div>
          
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="medium-12 columns">
    <p class="text-center"  style="color:#bbb;">
      Copyright &copy; 2014 James Stone Intermedia. All Rights Reserved.
    </p>
  </div>
</div>


  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>


<!-- Size Classes: [small medium large xlarge expand] -->
<div id="step-2" class="reveal-modal small" data-reveal>
  <h2>Coming to a bookstore near you soon</h2>
  <p class="lead">While you are waiting, enroll in my free online ZURB Foundation course.</p>
  <p>The best way to have a great experience with the book is to know a little bit about ZURB Foundation first. That is why I have created a free email course that is designed to get you started right away.</p>

  <%= partial "landingsignup" %>

  <p>Not only that, but there will be giveaways and other promotions related to the launch. If you have pre-ordered your book, or you are waiting for the official launch, this is the best way to stay informed and get the best deal.</p>

  <p>If you would like to pre-order you can do so from <a href="http://www.amazon.com/gp/product/1849696721/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1849696721&linkCode=as2&tag=jamestonport-20&linkId=4UBCTG7KP2M5HYLS">Amazon</a> (Affiliate Link).</p>
  <a class="close-reveal-modal">&#215;</a>
</div>