---
title: ZURB Foundation Quick Reference
seo_desc: The secret to learning it is knowing what patterns to use. Rather than dig through the documentation, use industry standard design patterns to build your site fast.
---





<div class="row" style="padding-top:1rem;">
  <div class="small-12 columns">
    <div class="card-landing">
      <div class="row">
        <div class="medium-6 columns">
          <img src="/images/landing/zf-quickref-hero.jpg" alt="Zurb Foundation Quick Reference">
<!--           <div class="flex-video widescreen">
            <iframe width="853" height="480" src="//www.youtube.com/embed/5HfgJDmk5As?autoplay=0&controls=0&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
 -->        </div>
        <div class="medium-6 columns" style="padding-top:1rem;">
          <h1>ZURB Foundation <br>is more powerful than you think</h1>
          <p  style="padding-right:2rem;">The secret to learning it is knowing what patterns to use. Rather than dig through the documentation, use industry standard design patterns to build your site fast.</p>
        
          <a href="https://gum.co/foundationquickref/first100for5bucks?wanted=true" class="button large radius" style="background:#EB8B2A;font-weight:bold;">I want this!</a>
      
        </div>
      </div>


      <div class="row" style="padding-top:3rem;">
        <div class="medium-6 columns">
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-foundation" style="font-size:3rem;color:#FFFFFF;padding-left:1rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Easy to read and understand</h3>
            <p>Clearly organized and gives you a quick overview of what is possible with ZURB Foundation</p>      
          </div>
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-results" style="font-size:3rem;color:#FFFFFF;padding-left:0.8rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Clear visual examples</h3>
            <p>There is a screen shot or sketch for each snippet -- layers of abstraction have been removed</p>      
          </div>
        <row>
          <div class="small-2 columns">
<div style="padding-top:0.5rem;">
  <div style="border-radius: 50%; width: 4rem; height: 4rem; background:#2F5C90;padding-top:0.5rem;"> <i class="fi-graph-trend" style="font-size:3rem;color:#FFFFFF;padding-left:0.9rem;"></i> </div>
</div>
          </div>
          <div class="small-10 columns">
            <h3>Memorize and understand concepts quicker</h3>
            <p>The key to learning F5 quickly (or any framework) is memorizing the most commonly used patterns</p>      
          </div>
        </row>
          
        </div>
        <div class="medium-6 columns" style="padding-right:2rem;">
          <h2>Perfect for those learning ZURB Foundation</h2>
          <p>This visual guide shows you how to quickly build sites and apps by showing you exactly where to focus when learning the framework. It doesn't waste your time with academic or made-up examples that no one is using. </p>
          <p>If you have a ZURB Foundation book or you are taking a course, this quick reference makes a perfect pair and saves you from having to search through your notes every time.</p>
          <p>It was designed by James Stone, Author of ZURB Foundation Blueprints and an Official ZURB Foundation Certified Preferred Professional, to help teach designers and developers The Most Advanced Framework in the World.</p>
            
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row hide">
  <div class="small-12 columns">
    <div class="card-landing">
      <div class="row" style="padding-top:2rem;">
        <div class="medium-10 medium-centered columns">    
      
          <p class="text-center" style="font-size:1.5rem;line-height:130%;color:#777;"><span style="font-size:2rem;">&ldquo;</span> I thought it was not going to deliver on its promises to teach Foundation, but I found that it definitely trains you to create your layouts much faster. &rdquo;</p>
        </div>
        <div class="medium-1 medium-centered columns">
            <img src="/images/headshot-james-circle-mobile.png" alt="">
        </div>
        <div class="medium-6 medium-centered columns">
          <p class="text-center" style="color:#999;"><strong style="color:#777;">James M. Stone</strong><br>
          Chief Investigator, James Stone Intermedia</p>
        </div>
          
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <p class="text-center"  style="color:#bbb;">
      Copyright &copy; 2014 James Stone Intermedia. All Rights Reserved.
    </p>
  </div>
</div>


  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>




