---
title: "ZURB Foundation Resource Center"
seo_desc: "One of the best way's to learn about Scalable ZURB Foundation Solutions."
pageable: false
per_page: 8
active_nav: home
video_headline: "Top-shelf screencasts that you won’t wear out"
article_headline: "ZURB Foundation Resource Center"
error_noresults: "No results found. Try different or fewer keywords."
article_view: "Read Article"
article_more: "More Articles"
active_nav: resource

---

<h2 class="text-center">Resource Center</h2>

<br>
<br>

<h3 class="text-center">
  <a href="/resource-center/save-on-development-costs-by-using-a-framework" >Save on Development Costs by Using a Framework</a>
</h3>

<h3 class="text-center">
<a href="/resource-center/zurb-foundation-5-clean-and-organizied" >ZURB Foundation 5: Clean + Organized</a>
</h3>




<section class="articles" id="articles" ng-controller="ArticlesCtrl">
  <div class="column-row">
    <h2 class="flush-bottom">Additional Articles + Videos</h2>
  </div>
  <div class="row align-spaced">
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="subject">Subject</label>
        </div>
        <div class="small-9 columns">
          <select name="subject" id="" ng-model="selectedTag">
            <option value="" selected>All</option>
            <option ng-repeat="tag in articleTags" value="{{ tag }}"> {{ tag }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="subject">Sort by</label>
        </div>
        <div class="small-9 columns">
          <select name="subject" id="" ng-model="selectedSort">
            <option value="" selected>Newest First</option>
            <option>Oldest First</option>
            <option>Most Comments</option>
          </select>
        </div>
      </div>     
    </div>
    <div class="small-12 medium-3 columns">
      <div class="row collapse">
        <div class="small-3 columns">
          <label for="search">Search</label>
        </div>
        <div class="small-9 columns">

         <!-- <autocomplete ng-model="yourchoice" data="lunrData.index.documentStore.store['2']" on-type="updateMovies"></autocomplete> -->

         <input class="" type="text" name="search" placeholder="Search Articles" ng-model="searchInput" ng-change="activeSearchResults = searchResults(searchInput)">
       </div>
     </div>
   </div>
 </div>

 <!-- search results -->
 <div class="column-row" ng-if="searchInput">
   <p ng-if="activeSearchResults.length < 1" class="text-center" style="margin-bottom: 30px;"><%= current_page.data.error_noresults %></p>
   <div class="row">
    <div class="small-12 medium-5 columns" ng-class="$even ? 'medium-offset-1' : 'end'" ng-repeat="r in activeSearchResults">
      <div class="row small-articles">
       <div class="small-3 columns">
         <a ng-if="lunrData.docs[r.ref].featured_image"  href="{{lunrData.docs[r.ref].url}}"><img ng-src="{{ lunrData.docs[r.ref].featured_image }}" alt="{{ lunrData.docs[r.ref].title }}"></a>
       </div>
       <div class="small-9 columns">
         <p>
           <a href="{{lunrData.docs[r.ref].url}}">{{ lunrData.docs[r.ref].title }}</a>
         </p>
       </div>
     </div>
   </div>
 </div>
</div>

<div class="row align-stretch">
  <div class="column small-12 medium-3" style="display:flex; width:25%; " style="display:flex;" ng-repeat="article in articles | orderBy:makeDateSortable(date):(selectedSort === 'Oldest First') | filterByTag: selectedTag | limitTo: numberOfArticles"> 
    <div class="flex-card article clickable" style="display:flex; flex-direction:" ng-click="openLink(article.url)">
      <a style="flex: 0 1 auto;" href="{{ article.url }}"><img ng-src="{{article.featured_image}}" alt="{{ article.title }}" style=""></a>
      <div style="flex: 1 0 auto;" class="content">
        <h4 style="flex: 0 1 auto;">{{ article.title }}</h4>
        <p style="flex: 1 0 auto;" class="summary"> {{ article.summary }} </p>
        <a href="{{ article.url }}" class="button hollow"><%= current_page.data.article_view %></a>
      </div>
    </div>
  </div>
</div>

<p class="text-center"> <a class="button round hollow" ng-click="numberOfArticles = numberOfArticles + 4"><%= current_page.data.article_more %></a> </p>
</section>

<%= partial "module_promo" %>


